/* Navbar styles */
nav {
  background-color: #333;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  margin: 0;
  padding: 0;
}

nav li {
  /* text-align: center; */
  list-style-type: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #575757;
}
