.list {
  display: flex;
  flex-wrap: wrap;
  padding: auto;
  justify-content: left;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

.robotoSlab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.img {
  width: 100%;
}

.font {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

.header {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

@keyframes shrink {
  from {
    width: calc(80% - 1rem);
    background-color: rgba(247, 142, 17, 1);
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
  }
  to {
    width: calc(60% - 1rem);
    background-color: rgba(247, 142, 17, 0.8);
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
  }
}

.item {
  /* display: flex;
  flex-direction: row;
  justify-content: left; */
  border: 1px solid #ddd;
  padding: 1rem;
  margin-left: 4rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  animation: 0.5s shrink ease-in;
  width: calc(60% - 1rem);
  height: calc(30% - 1rem);
  border-radius: 50px;
  border: 1px solid black;
  background-color: rgba(247, 142, 17, 0.8);
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

@keyframes expand {
  from {
    width: calc(60% - 1rem);
    background-color: rgba(247, 142, 17, 0.8);
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
  }
  to {
    width: calc(80% - 1rem);
    background-color: rgba(247, 142, 17, 1);
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
  }
}

.item:hover {
  animation: 0.5s expand ease-in;
  font-size: 1.2rem;
  width: calc(80% - 1rem);
  height: calc(30%- 1rem);
  background-color: rgba(247, 142, 17, 1);
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.8);
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
