.nav {
  background-color: #0e3249;
  height: 10vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2vw;
}

.nav a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}
